<p *ngIf = "(authservice.user | async)?.uid">

    <mat-accordion>
        <mat-expansion-panel *ngFor = "let savedClass of savedClass$| async">
          <mat-expansion-panel-header>
              <mat-panel-title>
              Category Classified by AWS:   {{savedClass.aiCat}}
              </mat-panel-title>
              <mat-panel-title>
                Category Changed by user:  {{savedClass.manCat}}
             </mat-panel-title>
          </mat-expansion-panel-header>
               {{savedClass.body}}
        </mat-expansion-panel>
      </mat-accordion>

</p>
