<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{post.title}}
            <button mat-raised-button color="primary" (click)="addLikes(post.id, post.likes)">LIKE <span>{{post.likes}}</span></button> 
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
        </mat-expansion-panel-header> 
        <h3>body:</h3>{{post.body}}                              
        <button mat-raised-button color="primary" (click) = "deletePost(post.id)">Delete</button>
    </mat-expansion-panel>
</mat-accordion>

