<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/posts" routerLinkActive="active" *ngIf = "(authservice.user | async)?.uid">Posts</a>
      <a mat-list-item href="/savedposts" routerLinkActive="active"  *ngIf = "(authservice.user | async)?.uid">Saved Posts</a>
      <a mat-list-item [routerLink]="['/docform']" routerLinkActive="active">Classify</a>
      <a mat-list-item [routerLink]="['/savedclass']" routerLinkActive="active">Saved Classifications</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>test2020a</span>
      <span class = "spacer"></span>
      <a class="whitelink" [routerLink]="['/signup']" *ngIf = "!(authservice.user | async)?.uid">Sign Up</a>
      <a class="whitelink" [routerLink]="['/login']" *ngIf = "!(authservice.user | async)?.uid">Login</a>
      <a class ="whitelink" *ngIf = "(authservice.user | async)?.uid" (click) = "authservice.logout()">Logout</a>
      


    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
