<mat-accordion >
    <mat-expansion-panel  *ngFor = "let post of posts$">
      <mat-expansion-panel-header>
          <mat-panel-title> 
             {{post.id}}) {{post.title}}
          </mat-panel-title>
      </mat-expansion-panel-header>
        <div>
            <button mat-raised-button color="primary" (click) = "pushToFB(post.title,post.body)">Save Post</button>
            <a *ngIf ="post.id == test" style="color:red">{{text}}</a>
        </div>
        <div>
            {{post.body}}
        </div> <br>
        
            <div *ngFor = "let comment of comments$">
            <div *ngIf = "post.id == comment.postId">
                <br>
            Comment: {{comment.body}}
            </div>
        </div> <br>
    </mat-expansion-panel>
  </mat-accordion>
